:root {
  --living-color: #fff8ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend";
}

body {
  display: flex;
  height: 100vh;
}

h3,
h4,
p {
  color: #2f2e41;
}

#configs {
  background-color: #f3f3f3;
  height: calc(100vh - 20px);
  width: fit-content;
  padding: 10px;
  margin: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 8px;
}

input {
  width: 100%;
}

#toroidalGridMode,
#ageVisualization,
#deathVisualization {
  width: auto;
}

.infoText {
  color: #74728b;
  width: 180px;
  font-size: 12px;
}

#saveWarning {
  text-align: center;
  font-size: 12px;
  color: rgb(255, 47, 47);
  visibility: hidden;
  display: none;
}

#simEstContainer {
  visibility: hidden;
  display: none;
}

#simEst {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

#cellColor {
  width: 35px;
  height: 35px;
}

#content {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

#gridContainer {
  width: fit-content;
  height: fit-content;
}

#grid {
  display: grid;
  /* gap: 1px; */
  padding: 5px;
  border-radius: 10px;
}

#extrasContainer {
  margin: 10px;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  background-color: #f3f3f3;
  border-radius: 8px;
}

#extrasContainer #infoContainer p {
  text-align: center;
}

#cancelButton {
  background-color: rgb(255, 83, 106);
  color: #5e00009f;
  border: 2.5px #5e00009f solid;
  font-weight: bold;
}

#applyButton {
  background-color: rgb(195, 255, 83);
  color: #1542009f;
  border: 2.5px #1542009f solid;
  font-weight: bold;
}

#play {
  background-color: rgb(83, 163, 255);
  color: #000f429f;
  border: 2.5px #000f429f solid;
  font-weight: bold;
}

#catalog {
  visibility: hidden;
  background-color: #f3f3f3;
  padding: 10px;
  width: 300px;
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid #ccc;
  z-index: 2;
}

#catalog p {
  width: 100%;
  text-align: center;
}

#catalog button {
  width: 100%;
}

button {
  padding: 5px;
  width: calc(100% - 10px);
  border-style: none;
  border: 2.5px #2f2e416b solid;
  border-radius: 6px;
  background-color: #d8d8d8;
  color: #2f2e41;
  margin: 5px;
}

button:hover {
  transition: 0.2s;
  transform: scale(1.05);
}

button:active {
  transition: 0.2s;
  transform: scale(0.8);
}

.livingCell {
  background-color: var(--living-color);
}

.deadCell {
  background-color: #020018;
}
.stage1 {
  background-color: #ffffff;
}
.stage2 {
  background-color: #fff7e8;
}
.stage3 {
  background-color: #ffeed1;
}
.stage4 {
  background-color: #ffe2b1;
}
.stage5 {
  background-color: #ffcd82;
}
.stage6 {
  background-color: #ffb954;
}
.stage7 {
  background-color: #ffac44;
}
.stage8 {
  background-color: #ffa340;
}
.stage9 {
  background-color: #ff9c3c;
}
.stage10 {
  background-color: #ffb739;
}
.stage11 {
  background-color: #ffd236;
}
.stage12 {
  background-color: #f8e239;
}
.stage13 {
  background-color: #eae543;
}
.stage14 {
  background-color: #dce84d;
}
.stage15 {
  background-color: #c2e14f;
}
.stage16 {
  background-color: #a6d750;
}
.stage17 {
  background-color: #8ace50;
}
.stage18 {
  background-color: #71c150;
}
.stage19 {
  background-color: #58b550;
}
.stage20 {
  background-color: #48b361;
}
.stage21 {
  background-color: #41ba7f;
}
.stage22 {
  background-color: #3ac09d;
}
.stage23 {
  background-color: #31c7bb;
}
.stage24 {
  background-color: #28ced8;
}
.stage25 {
  background-color: #25d0ef;
}
.stage26 {
  background-color: #30c6f1;
}
.stage27 {
  background-color: #3bbcf4;
}
.stage28 {
  background-color: #46bcf7;
}
.stage29 {
  background-color: #52c2fb;
}
.stage30 {
  background-color: #5ec8ff;
}

.corpse1  { background-color: #08001c; }
.corpse2  { background-color: #0a082f; }
.corpse3  { background-color: #0b0d3c; }
.corpse4  { background-color: #0c1147; }
.corpse5  { background-color: #0d1754; }
.corpse6  { background-color: #0e1a5c; }
.corpse7  { background-color: #10206a; }
.corpse8  { background-color: #122678; }
.corpse9  { background-color: #152d86; }
.corpse10 { background-color: #183494; }
.corpse11 { background-color: #1b3ba2; }
.corpse12 { background-color: #1e42b0; }
.corpse13 { background-color: #2149be; }
.corpse14 { background-color: #2450cc; }
.corpse15 { background-color: #2757da; }
